.contact-title::before {
  content: "le chat pitre aime les jeux de mots.";
}

.contact-title:hover::before {
  animation: change-text_contact 1500ms 1;
}
@keyframes change-text_contact {
  0% {
    content: "";
  }
  15% {
    content: "le";
  }
  30% {
    content: "le chat";
  }
  45% {
    content: "le chat pitre";
  }
  56% {
    content: "le chat pitre aime";
  }
  68% {
    content: "le chat pitre aime les";
  }
  80% {
    content: "le chat pitre aime les jeux ";
  }
  92% {
    content: "le chat pitre aime les jeux de";
  }
  100% {
    content: "le chat pitre aime les jeux de mots.";
  }
}

.linktree {
  margin: auto;
  width: 320px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
.linktree img {
  width: 100%;
  height: 110%;
}
.icons {
  width: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
}
.icons-left {
  justify-content: end;
}
.icons-right {
  justify-content: start;
}
a {
  text-decoration: none;
}
.facebook,
.tiktok,
.linkedin,
.mail,
.facebook img,
.tiktok img,
.linkedin img,
.mail img {
  cursor: url("/assets/svg/mouse-pink.svg"), pointer;
  color: var(--neonblue);
}
.instagram,
.youtube,
.behance,
.telephon,
.instagram img,
.youtube img,
.behance img,
.telephon img {
  cursor: url("/assets/svg/mouse-blue.svg"), pointer;
  color: var(--neonpink);
}
.facebook {
  top: 60px;
  left: 20px;
}
.instagram {
  top: 130px;
  left: 20px;
}
.tiktok {
  top: 200px;
  left: 20px;
}
.youtube {
  top: 270px;
  left: 21px;
}
.behance {
  top: 85px;
  left: 202px;
}
.linkedin {
  top: 160px;
  left: 202px;
}
.telephon {
  top: 235px;
  left: 202px;
}
.mail {
  top: 310px;
  left: 198px;
}
.icons img {
  width: 30px;
  top: 50%;
}

.contact-img {
  position: absolute;
  top: 10px;
  left: 160px;
  transform: translate(-53%, -80%);
}
.contact-img {
  height: 10px;
}
.linktree .contact-img {
  height: 180px;
}
