.art-title::before {
  content: "méfiez-vous du chat qui dort!";
}

.art-title:hover::before {
  animation: change-text_art 1500ms 1;
}

@keyframes change-text_art {
  0% {
    content: "";
  }
  15% {
    content: "méfiez";
  }
  30% {
    content: "méfiez-vous";
  }
  45% {
    content: "méfiez-vous du";
  }
  60% {
    content: "méfiez-vous du chat";
  }
  75% {
    content: "méfiez-vous du chat qui";
  }
  90% {
    content: "méfiez-vous du chat qui dort";
  }

  100% {
    content: "méfiez-vous du chat qui dort!";
  }
}
.cards-container-art {
  width: 300px;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 200px;
  gap: 12px;
}

.card-art {
  width: 260px;
  border: solid 5px var(--neongreen);
  box-shadow: 6px 6px 1px 1px var(--neongreen-light);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card-art_1 {
  height: 29vh;
}
.card-art_2 {
  height: 23vh;
}
.card-art:hover {
  border: solid 5px var(--neonblue);
  cursor: url("/assets/svg/patte-blue.svg"), default;
  box-shadow: 6px 6px 1px 1px var(--neonblue-light);
}
.card-art:hover h2 {
  color: var(--neonblue);
}
h2 {
  font-size: 1rem;
  color: var(--neongreen);
  margin-bottom: 5px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tech-btn,
.category-btn {
  background-color: var(--primary);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text);
  padding: 5px 3px;
  border: solid 2px var(--neongreen);
  border-radius: 5px;
  box-shadow: 4px 4px 1px 1px var(--neongreen-light);
  cursor: url("/assets/svg/mouse-green.svg"), default;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.category-btn {
  width: 40%;
}
.tech-btn {
  width: 30%;
}

.tech-btn:hover,
.category-btn:hover {
  border: solid 2px var(--neonblue);
  box-shadow: 4px 4px 1px 1px var(--neonblue-light);
  color: var(--neonpink);
}
