/* aniation titre */
.resume-title::before {
  top: 0%;
  left: 70%;
  transform: translate(-60%, 70%);
}
.resume-title::before {
  content: "la croyance populaire prétend que j'ai 7 voire 9 vies!";
}

.resume-title:hover::before {
  animation: change-text_resume 1500ms 1;
}

@keyframes change-text_resume {
  0% {
    content: "";
  }
  10% {
    content: "la";
  }
  20% {
    content: "la croyance";
  }
  30% {
    content: "la croyance populaire";
  }
  40% {
    content: "la croyance populaire prétend";
  }
  50% {
    content: "la croyance populaire prétend que";
  }
  60% {
    content: "la croyance populaire prétend que j'ai";
  }
  70% {
    content: "la croyance populaire prétend que j'ai 7";
  }
  80% {
    content: "la croyance populaire prétend que j'ai 7 voire";
  }
  90% {
    content: "la croyance populaire prétend que j'ai 7 voire 9";
  }

  100% {
    content: "la croyance populaire prétend que j'ai 7 voire 9 vies!";
  }
}
@-webkit-keyframes change-text_resume {
  0% {
    content: "";
  }
  10% {
    content: "la";
  }
  20% {
    content: "la croyance";
  }
  30% {
    content: "la croyance populaire";
  }
  40% {
    content: "la croyance populaire prétend";
  }
  50% {
    content: "la croyance populaire prétend que";
  }
  60% {
    content: "la croyance populaire prétend que j'ai";
  }
  70% {
    content: "la croyance populaire prétend que j'ai 7";
  }
  80% {
    content: "la croyance populaire prétend que j'ai 7 voire";
  }
  90% {
    content: "la croyance populaire prétend que j'ai 7 voire 9";
  }

  100% {
    content: "la croyance populaire prétend que j'ai 7 voire 9 vies!";
  }
}

.resume-main {
  max-width: 900px;
  bottom: 35%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.resume-main h2 {
  color: var(--neongreen);
  text-transform: uppercase;
}
.resume-main p {
  text-align: left;
}
.resume-main .pink {
  color: var(--neonpink);
}
.resume-main .purple {
  color: var(--neonpurple);
  text-transform: uppercase;
}
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 30px;
  padding-right: 5px;
  align-items: start;
  width: 296px;
  height: 296px;
  background-color: var(--primary);
}
.resume-section:nth-child(odd) {
  border: solid 2px var(--neongreen-light);
}
.resume-section:nth-child(even) {
  border: solid 1px var(--neonblue-light);
}
.resume-section_load {
  opacity: 0;
}
.resume-section_load:nth-child(1) {
  animation: appear 3s ease-in-out 1s 1 normal forwards,
    rotate 3s ease-in-out 6500ms 1 normal forwards,
    disapear 2s ease-in-out 9500ms 1 normal forwards,
    return 2s ease-in-out 13500ms 1 normal forwards;
}
.resume-section_load:nth-child(2) {
  animation: appear 3s ease-in-out 2s 1 normal forwards;
}
.resume-section_load:nth-child(3) {
  animation: appear 3s ease-in-out 3s 1 normal forwards;
}
.resume-section_load:nth-child(4) {
  animation: appear 3s ease-in-out 4s 1 normal forwards;
}
.resume-section_load:nth-child(5) {
  animation: appear 3s ease-in-out 5s 1 normal forwards;
}
.resume-section_load:nth-child(6) {
  animation: appear 3s ease-in-out 6s 1 normal forwards;
}

/* apparition cv */
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/*début bg image */
.bg-container_resume {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  overflow: hidden;
  background-color: var(--primary);
  z-index: -1;
  min-height: 100dvh;
}
.bg_resume {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/catandmouse.svg),
    url(../assets/svg/catandmouse-blue.svg),
    url(../assets/svg/catandmouse-inverse.svg),
    url(../assets/svg/catandmouse.svg), url(../assets/svg/catandmouse-blue.svg);
  background-repeat: no-repeat;
  background-position: right 100% top 0, right 75% top 0, right 50% top 0,
    right 25% top 0, right 0% top 0;
  background-size: min(20dvh, 22vw);
  top: 25%;
  left: -100vw;
  right: 0;
  height: 15dvh;
  width: 100vw;
  -webkit-transform: translate(0, -3vh);
  transform: translate(0, -3vh);
  -webkit-animation: run 15s linear infinite;
  animation: run 15s linear infinite;
  transition-timing-function: ease-in;
}
@-webkit-keyframes run {
  0% {
    -webkit-transform: translate(-10vw, -3vh);
    transform: translate(-10vw, -3vh);
  }

  100% {
    -webkit-transform: translate(110vw -3vh);
    transform: translate(200vw, -3vh);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translate(-10vw, -3vh);
    transform: translate(-10vw, -3vh);
  }

  100% {
    -webkit-transform: translate(110vw -3vh);
    transform: translate(200vw, -3vh);
  }
}
/* fin bg image */

.resume-section_loaded:nth-child(1) {
  animation: rotate 3s ease-in-out 3s 1 normal forwards,
    disapear 2s ease-in-out 6s 1 normal forwards,
    return 3s ease-in-out 8s 2 normal forwards;
  transform-origin: 0% 100%;
  transform: rotate(0deg) scale(1);
  opacity: 1;
}
/* rotation de la 1ère section */
@keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  79% {
    transform: rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(-140deg) scale(0.6);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }

  79% {
    transform: rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(-140deg) scale(0.6);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
    transform: rotate(-140deg) scale(0.6);
  }
  to {
    opacity: 0;
    transform: rotate(-180deg) scale(0.3);
  }
}
@-webkit-keyframes disapear {
  from {
    opacity: 1;
    transform: rotate(-140deg) scale(0.6);
  }
  to {
    opacity: 0;
    transform: rotate(-180deg) scale(0.3);
  }
}
@keyframes return {
  0% {
    transform: rotate(-180deg) scale(0.1);
    opacity: 0;
  }
  20% {
    transform: rotate(-230deg) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes return {
  0% {
    transform: rotate(-180deg) scale(0.1);
    opacity: 0;
  }
  20% {
    transform: rotate(-230deg) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg) scale(1);
    opacity: 1;
  }
}

.resume-section_1 img,
.resume-section_6 img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.resume-section_5 img {
  position: absolute;
  width: 80px;
  top: 10px;
  right: 10px;
}
.sub-section_5 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 90%;
}
.bold {
  font-weight: bold;
}
.resume-section ul {
  list-style: url("/assets/svg/kitten-small.svg");
  margin-left: 40px;
  margin-top: 10px;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  gap: 0px 30px;
  justify-content: space-between;
}
.resume-section a {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: url("/assets/svg/mouse-blue.svg"), default;
}
.cvEmbed {
  display: none;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary);
}
.closeEmbed {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--neongreen);
  padding: 10px;
  border-radius: 2px 5px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: url("/assets/svg/mouse-black.svg"), default;
}
.cvEmbed embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90dvw;
  height: 90dvh;
  max-height: calc(100dvw * 1.3);
}
.cvBtn {
  color: var(--neongreen);
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: url("/assets/svg/mouse-green.svg"), default;
}
.resumeToSelection {
  background-color: transparent;
  border: none;
  color: var(--txt);
  cursor: url("/assets/svg/mouse-green.svg"), default;
  width: 50px;
  height: 50px;
  text-align: left;
  padding: 0;
}
